{% extends "base.html" %}
{% set title = "Bouncer Station" %}
{% set thispage = "who" %}
{% block content %}
<h1>People</h1>
<div class="row row-fluid">
    <div class="col-sm-4">
        <h2>Fox "fwilson" Wilson</h2>
    Fox is a co-founder of Bouncer Station who helps out on IRC, and codes the website and our bots.
    </div>
    <div class="col-sm-4">
        <h2>Samuel "sdamashek" Damashek</h2>
    Samuel is a co-founder of Bouncer Station and answers requests on IRC, email, and manages relations with IRC networks. He also assists with infrastructure management.
    </div>
    <div class="col-sm-4">
    <h2>Andrew "ahamilto" Hamilton</h2>
    Andrew has experience as a Systems Administrator and helps out with networking and infrastructure management.
    </div>
</div>
<div class="row row-fluid">
    <div class="col-sm-4">
    <h2>r00t</h2>
    You can find r00t helping out on IRC, assisting with email requests, or doing a variety of other things. AKA Brand3n.
    </div>
    <div class="col-sm-4">
    <h2>moxy</h2>
    moxy is a staff member who is assisting with Bouncer Station's new expansion to help Bouncer Station provide more services.
    </div>
</div>
<div class="row row-fluid">
    <div class="col-sm-12">
        <h2>Please donate</h2>
        The money for Bouncer Station comes out of our own pockets. We really appreciate any donation you can give. Just eleven dollars offsets server hosting costs for a month. We accept donations via PayPal or Bitcoin. No donation is too small. If you want to donate, look at our <a href="/donations/">donations page</a>.
    </div>
</div>
{% endblock %}
