{% extends "base.html" %}
{% set title = "Support" %}
{% set thispage = "support" %}
{% block content %}
<div class="row row-fluid">
    <div class="col-sm-12">
        <p>There are several different ways you can get in contact with us to request support.</p>
        <h3>On IRC</h3>
            <h4>Bouncer Station</h4>
            <p>To request help on our own Bouncer Station network, just connect to <code>irc.bouncerstation.com</code> port <code>6667</code>.<br/>
                You will automatically be joined to <code>#help</code> and <code>#chat</code>. You can request a Bouncer Station account in #help.<br/>
                <b>NOTE: To request an account, you <i>must</i> use the Bouncer Station network.</b></p>
            <h4>Freenode</h4>
            <p>Staff are available in <code>#bouncerstation</code> on the Freenode network. <br/>
                You cannot request automatic account creation here, but staff are happy to create it for you manually.</p>
         <br/>
         <br/>
        <h3>Via Email</h3>
        <p>You can email us at <code>admin@bouncerstation.com</code>. <br/>
            You can request accounts, request BindHosts, or anything else that staff can do. Just be aware it might take staff a bit to respond.</p>
    </div>
</div>
<!-- <a href="https://plus.google.com/104700851673904767213" rel="publisher">Google+</a> -->
{% endblock %}
