{% extends "base.html" %}
{% set title = "Bouncer Station" %}
{% set thispage = "who" %}
{% block content %}
<h1>People</h1>
<div class="row row-fluid">
    <div class="col-sm-6">
        <h2>Fox "fwilson" Wilson</h2>
    </div>
    <div class="col-sm-6">
        <h2>Samuel "sdamashek" Damashek</h2>
    </div>
</div>
<div class="row row-fluid">
    <div class="col-sm-12">
        <h2>Please donate</h2>
        The money for Bouncer Station comes out of our own pockets. We really appreciate any donation you can give. Just eleven dollars offsets server hosting costs for a month. We accept donations via PayPal or Bitcoin. No donation is too small. If you want to donate, look at our <a href="/donations/">donations page</a>.
    </div>
</div>
{% endblock %}
